*{
	margin:0;
	padding:0;
}

body{
	background-color:#e6f2ff;
}

/*header*/
main{
	width:80%;
	margin: 0 auto;
}

header{
	margin:10px;
}

#naslovStranice{
	font-size:30px;
	display:block;
	text-align:center;
}

/*section*/

section, nav{
	background-color:white;
	margin:10px;
	width:80%;
	margin:0 auto;
	padding:20px;
}

#formaMain{
	margin: 0 auto; 
	width:500px;
}

label{
	font-size:17px;
	color:red;
	 text-align: right;
	 padding-top: 12px;
	 margin-left:15px;
}

input[type="button"], input[type="submit"]{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

table, th{
	padding:20px
	text-align: justify; /*Tihomir*/
}

select{
	margin:10px;
}

input {
	margin:10px;
	
}


div.tableDiv{
	margin: 0 auto; 
	width:500px;
}

#bb, h1, h3{
	 
	 margin:  25px 10px 10px 10px;
	 
}

.footer {
  
 /* position:absolute; */ 
   margin-bootm:0;
   margin-top:10%;
   width:100%;
   height:100px;   /* Height of the footer */
   

}

#search {
	float:right;
      width:50%;	

	}


.validation-error {
	color: #ff0000;
}

.mainMapContainer{
	height:400px;
}

.mapColumn{
	width:50%;
	height:100%;
	float:left;
}

.mapDescriptionColumn{
	width:50%;
	height:100%;
	float:left;
}

#mapContainer{
	widows:98%;
	height:98%;
	margin: 1%;
}

.mapDescription{
	widows:98%;
	height:98%;
	margin: 1%;
}

.mapDisclaimer{
	height: 10%;
	margin-left: 1%;
}




