<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
</head>
<body>

<h1>Bikes</h1>
  <div th:replace="../fragments/header :: header"></div>
  <div id ="bb"> <a th:href="@{/CreateBike}" class="btn btn-primary" >Create new Bike</a></div>

      <div class="container-fluid">
      <table class="table table-striped" >
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Date</th>
				<th>Quantity</th>
				<th>Available</th>
				<th>Type of bike</th>
				<th></th>
				<th></th>
			</tr>



      <tr th:each="line : ${bikes}">
         <td th:text="${line.id}"></td>
         <td th:text="${line.name}"></td>
         <td th:text="${#dates.format(line.dateAdded, 'dd-MM-yyyy')}"></td>     
         <td th:text="${line.quantity}"></td>
         <td th:text="${line.available}"></td>
      <!--     <td th:text="${line.biketype.name}"></td> -->
          <td><a th:href="@{/BikeDetails/{id}/(id=${line.id})}">Details</a></td>
         <td><a th:href="@{/EditBike/{id}/(id=${line.id})}">Edit</a></td>
         <td><a th:href="@{/DeleteBike/{id}/(id=${line.id})}" class="btn btn-danger" >Delete</a></td>
      </tr>
      
    </table>
   </div>
   
   <div th:replace="../fragments/footer :: footer"></div>
</body>
</html>