<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<title>Home page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8" />

</head>


<body>

	<div th:replace="../fragments/header :: header"></div>

	<div id="pictureCarousel" class="carousel slide" data-ride="carousel"
		data-interval="3000" data-pause="null"
		style="width: 90%; height: auto; margin: auto; background-size: contain; display: block;">
		<ol class="carousel-indicators">
			<li data-target="#pictureCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#pictureCarousel" data-slide-to="1"></li>
			<li data-target="#pictureCarousel" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="active item">
				<img src="../static/images/cube-nutrail-race-greynblack.jpg"
					th:src="@{/images/cube-nutrail-race-greynblack.jpg}" alt="Cube"
					style="width: 90%; height: 500px;"></img>
			</div>

			<div class="item">
				<img src="../static/images/orbea-sport-10-black-white.jpg"
					th:src="@{/images/orbea-sport-10-black-white.jpg}" alt="Orbea-10"
					style="width: 90%; height: 500px;"></img>
			</div>

			<div class="item">
				<img src="../static/images/orbea-sport-30-black.jpg"
					th:src="@{/images/orbea-sport-30-black.jpg}" alt="Orbea-30"
					style="width: 90%; height: 500px;"></img>
			</div>
		</div>

		<a class="left carousel-control" href="#pictureCarousel" role="button"
			data-slide="prev"> <span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a> <a class="right carousel-control" href="#pictureCarousel"
			data-slide="next"> <span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<div class="modal-body row">
		<div class="col-md-6">
			<h2 th:text="#{subtitle.News}">What's new?</h2>
			<p th:text="#{paragraph.News}">Sean Sweeney opened the door to the refurbished 1839 barn
				behind his home in Wayne, Pa., outside of Philadelphia. Inside, one
				bicycle after another hung from hooks screwed into a beefy ceiling
				beam: Mr. Sweeney’s triathlon bike, road bike and two mountain bikes
				dangled alongside four bikes belonging to his wife and one of his
				three daughters. Mr. Sweeney races often, and the whole family
				competes in triathlons. The 59-year-old Mr. Sweeney, a strategic
				adviser for the Tokio Marine insurance companies, always hated
				hauling the bikes to a local shop to be tuned up and repaired. “I
				have to carry that big thing right there,” he said, gesturing toward
				a bicycle rack for his car. “I have to load it; it smacks my legs.
				My wife and kids, they all hate doing it, and we all put it off.” On
				this day, however, Mr. Sweeney only had to point to the bike he
				wanted repaired — a Trek hardtail mountain bike with a few
				mysterious squeaks after a recent race — and the work was underway.
				Seth Samson, a bicycle mechanic for a company called Velofix, rolled
				the bike into a large red van parked in Mr. Sweeney’s driveway,
				clipped it to a stand and started taking it apart.</p>
		</div>
		<div class="col-md-6">
			<h2 th:text="#{subtitle.rent}">Rent a new Orbea!</h2>
			<p th:text="#{paragraph.rent}">Orbea has previously sponsored and supplied bikes to teams,
				including the now-defunct Euskaltel-Euskadi professional team in the
				Basque area of Spain and the Herring Gas team in the USA. Samuel
				Sánchez rode an Orbea Orca Carbon to win the road race at the
				Beijing Olympics and Julien Absalon won the mountain bike gold on an
				Orbea Alma. Craig Alexander, three time Ironman World Triathlon
				Champion (2008, 2009, 2011), rode an Orbea Ordu in his first 2 wins
				and although he had planned to spend the rest of his career racing
				on Orbea bicycles, having signed a lifetime contract with Orbea in
				2010, he switched to another brand for the 2011 race.</p>
		</div>
	</div>

	<div th:replace="../fragments/footer :: footer"></div>

</body>
</html>