<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
</head>
<body>

<h1 th:text="#{logging.header}"></h1>
<div th:replace="../fragments/header :: header"></div>

 <div class="container-fluid">
      <table class="table table-striped" >
			<tr>
				<th>Id</th>
				<th th:text="#{logging.username}"></th>
				<th th:text="#{logging.action}"></th>
				<th th:text="#{logging.date}"></th>
			</tr>

	      <tr th:each="line : ${logging}">
	         <td th:text="${line.id}"></td>
	         <td th:text="${line.username}"></td>
	         <td th:text="${line.actions}"></td>     
	         <td th:text="${line.action_time}"></td>
	      </tr>
    </table>
 </div>

<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>