<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
	
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
</head>
<body onload='document.f.j_username.focus();'>
	<div th:replace="../fragments/header :: header"></div>

<div class="container">
  <div class="row">
	<div class="col align-self-center">
		<h3 th:text="#{login.header}"></h3>
		<form name='f' method='POST' th:action='@{/login}'>
			<table>
				<tr>
					<td th:text="#{login.username}"></td>
					<p th:if="${param.error}" style="color: red;" th:text="#{login.error}">Invalid username
						and password!</p>
					<p th:if="${param.logout}" style="color: green;" th:text="#{login.success}">You've been
						logged out successfully.</p>
					<p th:if="${param.access}" style="color: red;" th:text="#{login.denied}">Access denied</p>
					<td><input class="form-control" type='text' name='username'
						value='' /></td>
				</tr>
				<tr>
					<td th:text="#{login.password}"></td>
					<td><input class="form-control" type='password'
						name='password' /></td>
				</tr>
				<tr><a th:if="${param.error}" style="color: blue;" href="#" th:text="#{login.forgotpass}"> </a></tr>
				<tr>
					<td colspan='2'><button class="btn btn-success" name="submit"
							type="submit" th:text="#{login.submit}">Submit</button></td>
				</tr>

			</table>
		</form>
		<br/>
		<a href="#" th:href="@{/registration}"><button class="btn btn-info" th:text="#{login.register}"></button></a>
	</div>
	</div>
	</div>
	<br/>
	<br/>
	<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>