<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
</head>
<body>
<div th:replace="../fragments/header :: header"></div>
<div class="container">
  <div class="row">
	<div class="col align-self-center">
		<h3>Register (in construction):</h3>
		<p style="color:red" th:text='${ErrorUsername}'></p>
		<form name='f' method='POST' th:action='@{/registration}' th:object="${User}">
			<table>
				<tr>
					<td>Ime:</td>
					<td><input class="form-control" type='text' name='name' th:field='${User.name}'
						value='' /></td>
				</tr>
				<tr>
					<td>Prezime:</td>
					<td><input class="form-control" type='text' name='surname' th:field='${User.surname}'
						value='' /></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td><input class="form-control" type='text' name='username' th:field='${User.username}'
						value='' /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input class="form-control" type='password' th:field='${User.password}'
						name='password' /></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input class="form-control" type='email' name='email' th:field='${User.email}'
						value='' /></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input class="form-control" type='text' name='address' th:field='${User.address}' /></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input class="form-control" type='text' name='phone' th:field='${User.phone}' /></td>
				</tr>
				<tr>
					<td colspan='2'><button class="btn btn-success" name="submit"
							type="submit">Register</button></td>
				</tr>
			</table>
		</form>
	</div>
	</div>
	</div>
	<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>