<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
</head>
<body>
<div th:replace="../fragments/header :: header"></div>
<div class="container">
  <div class="row">
	<div class="col align-self-center">
		<h3 th:text="#{register.header}"></h3>
		<p style="color:red" th:text='${ErrorUsername}'></p>
		<form name='f' method='POST' th:action='@{/registration}' th:object="${User}">
			<table>
				<tr>
					<td th:text="#{register.name}"></td>
					<td><input class="form-control" type='text' name='name' th:field='${User.name}'
						value='' /></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" 
							style="color:red"
							th:text="#{validation.customer.name.notEmpty}"></td>
				</tr>
				<tr>
					<td th:text="#{register.surname}"></td>
					<td><input class="form-control" type='text' name='surname' th:field='${User.surname}'
						value='' /></td>
						<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" 
							style="color:red"
							th:text="#{validation.customer.surname.notEmpty}"></td>
				</tr>
				<tr>
					<td th:text="#{register.username}"></td>
					<td><input class="form-control" type='text' name='username' th:field='${User.username}'
						value='' /></td>
						<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" 
							style="color:red"
							th:text="#{validation.customer.surname.notEmpty}"></td>
				</tr>
				<tr>
					<td th:text="#{register.password}"></td>
					<td><input class="form-control" type='password' th:field='${User.password}'
						name='password' /></td>
						<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" 
							style="color:red"
							th:text="#{validation.customer.surname.notEmpty}"></td>
				</tr>
				<tr>
					<td th:text="#{register.email}"></td>
					<td><input class="form-control" type='email' name='email' th:field='${User.email}'
						value='' /></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" 
							style="color:red"
							th:text="#{validation.customer.email}"></td>
				</tr>
				<tr>
					<td th:text="#{register.address}"></td>
					<td><input class="form-control" type='text' name='address' th:field='${User.address}' /></td>
					<td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" 
							style="color:red"
							th:text="#{validation.customer.address.range}"></td>
				</tr>
				<tr>
					<td th:text="#{register.phone}"></td>
					<td><input class="form-control" type='text' name='phone' th:field='${User.phone}' /></td>
					<td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" 
							style="color:red"
							th:text="#{validation.customer.phone.range}"></td>
				</tr>
				<tr>
					<td colspan='2'><button class="btn btn-success" name="submit"
							type="submit" th:text="#{register.register}"></button></td>
				</tr>
			</table>
		</form>
	</div>
	</div>
	</div>
	<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>