<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"></meta>
<title>Bikes</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />

</head>
<body>

<h1>Reservations</h1>
  <div th:replace="../fragments/header :: header"></div>
  
      <div class="container-fluid">
      <table class="display" >
      <thead>
			<tr>
				<th th:text="#{reservation.startDate}">Start date</th>
				<th th:text="#{reservation.endDate}">End date</th>
				<th th:text="#{reservation.customer}">Customer</th> 
				<th th:text="#{reservation.bike}">Bike</th> 
			</tr>
     </thead>

      <tr th:each="line : ${reservations}">
         <td th:text="${line.startTime}"></td>
         <td th:text="${line.endTime}"></td>
         <td th:text="${line.user.username}"></td>
         <td th:text="${line.bike.name}"></td>
      </tr>
     
    </table>
   </div>
   
   <div th:replace="../fragments/footer :: footer"></div>
</body>
</html>