<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"></meta>
<title>Bikes</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/dizajn.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<script>
    $(document).ready(function(){
      var date_input=$('input[name="startDate"]');
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="endDate"]');
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
</head>
<body>

<h1 th:text="#{tab.Reservations}">Reservations</h1>
  <div th:replace="../fragments/header :: header"></div>
  
  <div class="container-fluid" sec:authorize="isAuthenticated()">
	  <form method="POST" th:object="${Reservation}">
	  
	  <div class="form-group row">
	      <label for="customerid" 
					th:text="#{customer.name}">Name: </label>
		  <select class="form-control" id="customerid" name="customerList">
			   <option th:each="customer : ${customers}" th:text="${customer.name}"></option>
		  </select>
	  </div>
	  
	  <div class="form-group row">
		  <label for="bikeid" th:text="#{bike.bikes}">Bikes: </label>
		  <select class="form-control" name="bikeList">
			   <option th:each="bike : ${bikes}" th:text="${bike.name}"></option>
		  </select>
	  </div>
	  
	  <div class="form-group row">
		  <div class="row">
		   <div class="col-md-6 col-sm-6 col-xs-12">
		      <div class="form-group">
		        <label class="control-label" th:text="#{reservation.startDate}" for="startDate">Start date</label>
		        <input type="text" class="form-control" id="startDate" name="startDate" placeholder="YYYY-MM-DD"/>
		      </div>
		    </div>
		  </div>    
	 </div>
	 
	 <div class="form-group row">
		  <div class="row">
		   <div class="col-md-6 col-sm-6 col-xs-12">
		      <div class="form-group">
		        <label class="control-label" for="endDate" th:text="#{reservation.endDate}">End date</label>
		        <input class="form-control" id="endDate" name="endDate" placeholder="YYYY-MM-DD" type="text"/>
		      </div>
		    </div>
		  </div>    
	 </div>
	 <div class="form-group row">
					<div class="col-md-7 mb-3">
						<input type="submit" th:value="#{reservation.save}"
							class="btn btn-success" data-toggle="tooltip"
							data-placement="bottom" />
					</div>
	 </div>
	 </form>
 </div>
 <div th:replace="../fragments/footer :: footer"></div>

</body>

</html>