*{
	margin:0;
	padding:0;
}

body{
	background-color:#e6f2ff;
}

/*header*/
main{
	width:80%;
	margin: 0 auto;
}

header{
	margin:10px;
}

#naslovStranice{
	font-size:30px;
	display:block;
	text-align:center;
}

/*section*/

section, nav{
	background-color:white;
	margin:10px;
	width:80%;
	margin:0 auto;
	padding:20px;
}

#formaMain{
	margin: 0 auto; 
	width:500px;
}

label{
	font-size:20px;
	color:red;
}

input[type="button"], input[type="submit"]{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

table, th{
	padding:20px
	text-align: justify; /*Tihomir*/
}

select{
	margin:10px;
}

input{
	margin:10px;
	
}

div.tableDiv{
	margin: 0 auto; 
	width:500px;
}

#bb{
	 /*Tihomir*/
	 margin:  25px 10px 10px 10px;
	
}